<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=Shift_JIS">
<style type="text/css">
body
{
	background-color: #efefef;

	font-size  : 16px;
	line-height : 18px;
	font-family : Mona,"IPA モナー Pゴシック","IPA mona PGothic","IPA MONAPGOTHIC",IPAMonaPGothic,"MS PGothic AA","ＭＳ Ｐゴシック","MS Pゴシック","MS PGothic","MS Pｺﾞｼｯｸ","ＭＳＰゴシック","MSPゴシック",sans-serif;

}
</style>
<title>プレビュー</title>
</head>
<body>
<dl>
[SEPARATE]
</dl>
<hr>
Powered by OrinrinEditor<br>
<script language="javascript">
try {
if ( document.body.innerHTML.match(/&lt;jbbs fontcolor="(#[0-9A-Z]{6})"&gt;/i) ) {
document.body.runtimeStyle.color = RegExp.$1;
document.body.innerHTML = document.body.innerHTML.replace(/&lt;jbbs fontcolor="(#[0-9A-Z]{6})"&gt;/i,"");
}
} catch (e) { alert(e.description) }
</script>
</body>
</html>
